<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container" id="game" v-cloack>
    <div class="row">
        <div class="col-3">
            <labal>По вертикали</labal>
            <input type="number" class="form-control" v-model="xy.y" @input="createGamge">
        </div>
        <div class="col-3">
            <labal>По горизонтали</labal>
            <input type="number" class="form-control" v-model="xy.x" @input="createGamge">
        </div>
        <div class="col-3">
            <labal>Скорость</labal>
            <input type="number" step="0.1" min="0" class="form-control" v-model="speed" @input="changeSpeed">
        </div>
        <div class="col-3">
            <table class="h-100 w-100">
                <tr>
                    <td class="align-middle text-center">
                        <span class="btn btn-success" @click="startGame" v-if="fl">Старт</span>
                        <span class="btn btn-danger" @click="stopGame" v-else>Стоп</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="btn btn-warning" @click="restartGame">Очистить</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <table class="h-100 w-100">
                <tr>
                    <td class="align-middle text-center pl-1 pr-1">
                        <div>
                            Всего клеток
                        </div>
                        <div>
                            <strong>{{all}}</strong>
                        </div>
                    </td>
                    <td class="align-middle text-center pl-1 pr-1">
                        <div>
                            Живых
                        </div>
                        <div>
                            <strong>{{cntAlive}}</strong>
                        </div>
                    </td>
                    <td class="align-middle text-center pl-1 pr-1">
                        <div>
                            Живых максимально
                        </div>
                        <div>
                            <strong>{{maxLive}}</strong>
                        </div>
                    </td>
                    <td class="align-middle text-center pl-1 pr-1">
                        <div>
                            Процент заселенности
                        </div>
                        <div>
                            <strong>{{percent}}%</strong>
                        </div>
                    </td>
                    <td class="align-middle text-center pl-1 pr-1">
                        <div>
                            Количество комбинаций
                        </div>
                        <div>
                            <strong>{{history_cnt}}</strong>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 p-0">
            <table class="border w-100 b table-bordered">
                <tr class="cell_1" v-for="(row, i) in arr">
                    <td :class="{live: cell, animate: (speed>=1 && cell)}" v-for="(cell, j) in row" @mouseover="setTrue(i,j)"></td>
                </tr>
            </table>

        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="game.js"></script>
<script src="md5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>
</html>