.live{
    background-color: black;
}
.animate{
    animation: shadow 0.2s linear ;
}
[v-cloack]{
display: none;
}
.cell_1{
    height: 10px;
}

@keyframes shadow {
    from {background-color: lightgreen;}
    to {background-color: black;}
}